*{
    margin:0px;
    padding:0px;
}
.all{
    float: left;
    background-color: black;
    height:1750px;
    width:90px;
    padding-top: 20px;
}
.home,.trending,.shorts,.history,.subs,.play{
    padding-left:25px;
    display:block;
    color:white;
    height:30px;
    width:30px;
    margin-top:45px;
}
.three{
    display:block;
    color:white;
    height:40px;
    width:40px;
    margin-left: 22px;
}
.bot{
    margin-top:110px;
}
.log,.set{
    padding-left:25px;
    display:block;
    color:white;
    height:30px;
    width:30px;
    margin-top:45px;
}